services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "40238:80"
    volumes:
      - ./services/website:/usr/share/nginx/html:ro
    depends_on:
      - api
    restart: unless-stopped

  api:
    build:
      context: ./services/api
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
